<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tournament</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tournament/styles.min.css' %}">
</head>

<body style="background: linear-gradient(rgb(255,162,162) 0%, white); background-repeat: no-repeat; background-attachment: fixed;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: rgba(255,255,255,0.24);">
        <div class="container"><a class="navbar-brand" href="#">Duck Game turnájek</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'tournament:index' %}">Zápasy</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'tournament:rules' %}">Pravidla</a></li>
                    <li class="nav-item"></li>
                </ul>

                {% if not logged_user %}
                    <span class="navbar-text actions"> <a class="login" href="{% url 'tournament:login' %}">Log In</a><a class="btn btn-light action-button" role="button" href="{% url 'tournament:register' %}">Sign Up</a></span>
                {% else %}
                    <span class="navbar-text actions"> <a class="login" href="#">User Panel</a><a class="login" href="{% url 'tournament:logout' %}">Log Out</a></span>
                {% endif %}

            </div>
        </div>
    </nav>
    <div class="row" style="margin: 5%;background: rgba(255,255,255,0.25);">
        <div class="col" style="filter: brightness(100%);margin: 0px;">
            <h3 class="text-center">{{ player }}</h3>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">W</th>
                                    <th class="text-center">L</th>
                                    <th class="text-center">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">{{ player.won_matches.all|length }}</td>
                                    <td class="text-center">{{ player.lost_matches.all|length }}<br></td>
                                    <td class="text-center">{{ player.total_points }}<br></td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <h5>Info</h5>
                    <p>{{ player.player_info }}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>